@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

body {
    font-family: 'Quicksand', sans-serif;
}

/*.gal-container {*/
/*padding: 12px;*/
/*}*/

.gal-item {
    overflow: hidden;
    padding: 0px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.gal-item .box {
    height: 350px;
    overflow: hidden;

}

.box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    z-index: 100000;
}

.gal-item a:focus {
    outline: none;
}

.gal-item a:after {
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.gal-item a:hover:after {
    opacity: 1;
}

.modal-open .gal-container .modal {
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-open .gal-item .modal-body {
    padding: 0px;
}

.modal-open .gal-item button.close {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);
}

.modal-open .gal-item button.close:focus {
    outline: none;
}

.modal-open .gal-item button.close span {
    position: relative;
    top: -3px;
    font-weight: lighter;
    text-shadow: none;
}

.gal-container .modal-dialogue {
    width: 80%;
}

.gal-container .description {
    position: relative;
    height: 40px;
    top: -40px;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: left;
}

.gal-container .description h4 {
    margin: 0px;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}

.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
    padding-top: 2%;
}

@media (min-width: 768px) {
    .gal-container .modal-dialog {
        width: 55%;
        margin: 50px auto;
    }
}



/* Footer Style */
i.red {
    color: #BC0213;
}

.gal-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0px !important;
    width: 100% !important;
    height: 700px;
}

footer {
    font-family: 'Quicksand', sans-serif;
}

footer a, footer a:hover {
    color: #88C425;
}

.modal-backdrop, .fade, .in {
    z-index: 1 !important;
}

.modal, .fade, .in {
    overflow: hidden !important;
}

.gallery_margin {
    margin-top: 40px;
}

.big_gal {
    height: 700px;
}

.box_big {
    height: 700px !important;
}

.big_img {
    width: 100%;
    height: 700px;
}

.gal_row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.modal-body img {
    width: 100%;
}

.tour_padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
@media (max-width: 768px) {
    .gal-container .modal-content {
        height: 250px;
    }
    .gal-container{
        height: auto;
    }
}