@media screen and (max-device-width: 1366px) {
    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
    }
    header.sticky {
        height: 70px;
    }
}
@media screen and (max-width: 1199px) {
    .footer_info {
        letter-spacing: 0.03em;
    }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .funy_banner span {
        font-size: 2em;
    }
    .img_container img {
        width: 100%;
    }
    .coltoptour {
        height: auto !important;
    }
    .toptours {
        height: auto;
    }
    .img_mobile {
        height: auto !important;
    }
}
@media screen and (min-device-width: 414px) and (max-device-width: 736px) {
    .coltoptour {
        height: auto !important;
    }
    .toptours {
        height: auto;
    }
    .img_mobile {
        height: auto !important;
    }
}
@media screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .coltoptour {
        height: auto !important;
    }
    .img_mobile {
        height: auto !important;
    }
}
@media screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .coltoptour {
        height: auto !important;
    }
    .img_mobile {
        height: auto !important;
    }
    .popup-box{
        right: 10px;
    }
}
@media screen and (max-width: 768px) {
    .sub_input {
        width: 50%;
        float: left;
    }
    .subscribe_button {
        margin-top: 0;
        height: 40px;
        margin-left: 15px;
    }
    .big_img {
        height: auto;
    }
    .box_big {
        height: auto !important;
    }
    .big_gal {
        height: auto;
    }
    #myCarousel {
        height: 50vh;
    }
    .carousel-caption {
        padding-bottom: 20% !important;
    }
    .toptourdesc{
        top: 66%;
    }
    .footer_address{
        padding-top: 10px;
    }
    .icon-mail{
        margin-top: 10px;
        padding-top: 0;
    }
    .footer_info{
        padding-left: 0 !important;
        margin: 0;
    }
    .funy_banner span {
        font-size: 55px;
    }
    .gal-container .modal-content {
        height: auto;
    }
}
@media all and (max-width: 991px) {
    .projectbox{
        padding-bottom: 40px;
    }
    .carousel .item img {
        width: 80%;
        margin: auto;
    }
    .carousel-caption>h2{
        font-size: 80px;
    }
    .email{
        font-size: 11px;
    }
    .box_style_4 small{
        font-size: 10px;
    }
    a#phone,
    a#email_footer {
        font-size: 10px;
    }
}
@media all and (max-width: 767px) {
    .carousel .item img {
        width: 73%;
    }
    .carousel-caption>h2{
        font-size: 73px;
    }
    .carousel-caption{
        top:50px;
    }
    a.footer_info{
        display: list-item;
    }
    .reviews {
        font-size: 30px;
    }
    .carusel .owl-next{
        right:-20px;
    }
    .carusel .owl-prev{
        left:-20px;
    }
    .carusel .item img {
        max-width: 150px;
    }
    .footer-ul{
        padding-top: 4px;
    }
    .icon-mail{
        margin-top:0px;
    }
    .footer_info {
        letter-spacing: 0px;
    }
}
@media all and (max-width: 692px){
    .icon-mail{
        margin-top:10px;
    }
}
@media all and (max-width: 680px){
    .carousel-caption>h2{
        font-size: 65px;
    }
    .carousel .item img {
        width: 76%;
    }
}
@media all and (max-width: 652px){
    .footer_info {
        letter-spacing: 0.14em;
    }
    .carousel-caption>h2{
        font-size: 62px;
    }
}
@media all and (max-width: 630px){
    .footer_info {
        letter-spacing: 0.12em;
    }
}
@media all and (max-width: 612px){
    .footer_info {
        letter-spacing: 0.1em;
    }
    .show-submenu{
        letter-spacing: 0px;
    }
}
@media all and (max-width: 595px) {
    .footer_info {
        letter-spacing: 0.07em;
    }
    .platforms{
        font-size: 30px;
        padding-bottom: 10px;
    }
}
@media all and (max-width: 568px) {
    .footer_info {
        letter-spacing: 0.04em;
    }
}
@media all and (max-width: 550px){
    .carousel-caption>h2{
        font-size: 55px;
    }
    .carousel-caption{
        top:70px;
    }
    .reviews {
        font-size: 27px;
    }
    .section-reviews .item {
        width: 55%;
    }
    .carusel .owl-next{
        right:50px;
    }
    .carusel .owl-prev{
        left:50px;
    }
    .carusel .item img {
        max-width: 200px;
    }
    .platforms{
        font-size: 28px;
    }
    .section-reviews .owl-next{
        right:18%;
    }
    .section-reviews .owl-prev{
        left:18%;
    }
}
@media all and (max-width: 542px) {
    .footer_info {
        width: 94%;
    }
}
@media all and (max-width: 520px) {
    .footer_info {
        width: 95%;
    }
    .footer_info {
        letter-spacing: 0.01em;
    }
}
@media all and (max-width: 494px){
    .platforms{
        font-size: 25px;
    }
    .footer_info {
        letter-spacing: 0.002em;
    }
    .footer_info {
        width: 96%;
    }
}
@media all and (max-width: 480px){
    .carousel-caption>h2{
        font-size: 46px;
    }
    .carousel .item img {
        width: 70%;
    }
    .carousel-caption{
        top:95px;
    }
    .funy_banner span {
        font-size: 40px;
    }
    .footer_info {
        width: 98%;
        line-height: 18px;
    }
    #email_footer,.footer_info,a#phone{
        line-height: 16px;
        padding-top: 5px;
    }
    .reviews {
        font-size: 23px;
    }
    a#phone, a#email_footer, .footer_info {
        font-size: 11px;
    }
    .footer_info{
        letter-spacing: 0.05em;
    }
    a#phone{
        letter-spacing: 0.01em;
    }
    .footer-ul{
        padding-top: 0px;
    }
    .icon-mail{
        margin-top:10px;
    }
}
@media all and (max-width: 471px) {
    .footer_info {
        letter-spacing: 0.02em;
    }
    a#phone{
        letter-spacing: 0.006em;
    }
}
@media all and (max-width: 459px) {
    .footer_info {
        letter-spacing: 0.007em;
    }
    a#phone{
        letter-spacing: 0.001em;
        font-size: 10px;
    }
}
@media all and (max-width: 440px) {
    .footer_info {
        letter-spacing: 0.03em;
        font-size: 10px;
    }
}
@media all and (max-width: 422px) {
    a#phone, a#email_footer, .footer_info {
        font-size: 9px;
    }
    .footer_info {
        letter-spacing: 0.06em;
    }
    .platforms{
        font-size: 20px;
    }
    .carusel .item img {
        max-width: 150px;
    }
    .carusel .owl-next{
        right:30px;
    }
    .carusel .owl-prev{
        left:30px;
    }
    .reviews {
        font-size: 20px;
    }
    .section-reviews .item {
        width: 70%;
    }
    .section-reviews .owl-next{
        right:8%;
    }
    .section-reviews .owl-prev{
        left:8%;
    }
}
@media all and (max-width: 414px){
    .carousel-caption>h2{
        font-size: 40px;
    }
    .carousel .item img {
        width: 73%;
    }
    a.show-submenu{
        font-size: 11px;
    }
    #email_footer {
        padding-top: 4px;
        margin-left: 32px !important;
    }
}
@media all and (max-width: 406px){
    .footer_info {
        letter-spacing: 0.04em;
    }
}
@media all and (max-width: 394px){
    .footer_info {
        letter-spacing: 0.07em;
    }
    a#phone, a#email_footer, .footer_info {
        font-size: 8px;
    }
}
@media all and (max-width: 375px){
    .carousel-caption>h2{
        font-size: 36px;
    }
    .carousel-caption{
        top:115px;
    }
    a.show-submenu{
        font-size: 10px;
    }
    .reviews {
        font-size: 16px;
    }
    .carusel .owl-next{
        right:20px;
    }
    .carusel .owl-prev{
        left:20px;
    }
    .footer_info {
        letter-spacing: 0.04em;
    }
}
@media all and (max-width: 359px) {
    .footer_info {
        letter-spacing: 0.02em;
    }
}
@media all and (max-width: 354px) {
    a.show-submenu{
        font-size: 9px;
    }
    .footer_info {
        letter-spacing: 0.08em;
    }
    .parallax-content-2 div h1 {
        font-size: 20px;
    }
    a#phone, a#email_footer,.footer_info {
        font-size: 7px;
    }
    .platforms{
        font-size: 17px;
    }
}
@media all and (max-width: 343px){
    .footer_info {
        letter-spacing: 0.05em;
    }
}
@media all and (max-width: 329px){
    .footer_info {
        letter-spacing: 0.03em;
    }
}
@media all and (max-width: 320px){
    .carousel-caption>h2{
        font-size: 31px;
    }
    .carousel-caption{
        top:135px;
    }
    a.show-submenu {
        font-size: 8px;
    }
    .footer_info {
        letter-spacing: 0.02em;
    }
}