.platforms-carousel{
    text-align: -webkit-center;
}
.carusel{
    position: relative;
    width: 100%;
    margin: auto;
}
.carusel.owl-carousel {
    padding-top: 20px;
}
.owl-two img{
    text-align: center !important;
}
.carusel .item img{
    max-width: 200px;
    height: 150px;
    object-fit: contain;
    display: inline-block;
}
.carusel .item img{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}
.carusel .item a:hover img{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
.platforms{
    font-size: 35px;
    color: #ff681a;
    text-align: -webkit-center;
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.carusel .item p{
    color: #343a40;
}
.carusel .owl-prev,.carusel .owl-next{
    font-size: 40px !important;
    position: absolute;
    top:25%;
}
.carusel .owl-next{
    right:-30px;
    color:#9c8d8d;
}
.carusel .owl-prev{
    left:-30px;
    color:#9c8d8d;
}
.carusel .owl-prev:focus,.carusel .owl-next:focus{
    outline: none;
}
.owl-item .active{
     width: 200px!important;
 }