.section-reviews {
    position: relative;
    width: 100%;
    margin: auto;
}
.reviews {
    font-size: 35px;
    color: #ff681a;
    text-align: -webkit-center;
    line-height: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
}
.section-reviews .owl-prev:focus, .section-reviews .owl-next:focus {
    outline: none;
}
.section-reviews .owl-prev, .section-reviews .owl-next {
    font-size: 60px !important;
    position: absolute;
    top: 39%;
}
.name{
    height: 40px;
}
.section-reviews .owl-next {
    right: -3%;
    color: #9c8d8d;
}
.section-reviews .owl-prev {
    left: -3%;
    color: #9c8d8d;
}
.btn-modal:focus {
    outline: none;
}
.btn-modal {
    font-size: 20px;
    color: #f7941d;
    border: none;
    background-color: transparent;
    padding-left: 0px;
}
.modal-content {
    width: 100%;
    margin-top: 50px;
    height: auto;
}
.section-reviews p {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: 60px;
    overflow: hidden;
}
.section-reviews .item {
    border: 1px solid #fff;
    background: #dedede;
    padding: 15px;
    text-align: -webkit-center;
}
.section-reviews {
    text-align: -webkit-center;
}
.section-reviews.owl-carousel {
    padding-top: 20px;
}
.section-reviews .item p {
    max-width: 200px;
}